{% extends "emails/base.html" %}
{% block title %}Verify your email{% endblock %}
{% block preheader %}Your V-ENT verification code is {{ code }}. It expires in {{ expires_in }}.{% endblock %}
{% block heading %}Confirm your email{% endblock %}
{% block content %}
<p style="margin:0 0 20px 0;">Hi {{ name }}, welcome to V-ENT. Enter this code to finish setting up your account.</p>

{% include "emails/_code.html" with code=code note="Expires in "|add:expires_in %}

<div style="height:24px; line-height:24px;">&nbsp;</div>
{% if verify_url %}
<p style="margin:0 0 16px 0;">Or confirm in one tap:</p>
{% include "emails/_button.html" with url=verify_url label="Verify my email" %}
<div style="height:24px; line-height:24px;">&nbsp;</div>
{% endif %}

<p style="margin:0; font-size:14px; color:#8A8A93;">If you did not create a V-ENT account, ignore this email and nothing will happen.</p>
{% endblock %}
{% block footer_note %}You received this because this address was used to create a V-ENT account.{% endblock %}
